Repository shazzar00ni/docugen: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0 --fix, prettier --write

Update src/lib/markdown.ts
  src/lib/markdown.ts
Due: eslint --max-warnings 0 --fix, prettier --write

Update src/components/upload/UploadArea.tsx
  src/components/upload/UploadArea.tsx
Due: eslint --max-warnings 0 --fix, prettier --write

fix: update vitest to 4.0.18 to resolve peer dependency conflict
  package-lock.json
  package.json
Due: prettier --write

fix: consolidate ESLint config and resolve new violations
  .eslintrc.cjs
  eslint.config.js
  src/components/CookieConsent.tsx
  src/components/UploadDemo.tsx
  src/lib/ThemeContext.tsx
Due: eslint --max-warnings 0 --fix, prettier --write

Consolidate dual ESLint config to flat config
  .eslintrc.cjs
  CONTRIBUTING.md
  eslint.config.js
  src/components/CookieConsent.tsx
  src/components/UploadDemo.tsx
  src/lib/ThemeContext.tsx
Due: eslint --max-warnings 0 --fix, prettier --write

docs: add docstrings to improve coverage
  src/AppAnalyticsBridge.tsx
  src/components/UploadDemo.tsx
Due: eslint --max-warnings 0 --fix, prettier --write

chore: align vitest to ^4.1.3 to match coverage package
  package-lock.json
  package.json
Due: prettier --write

fix: prevent SVG icons from becoming excessively large by adding protective max-width and height rules
  src/index.css
Due: none

chore: use legacy-peer-deps for npm install
  package-lock.json
Due: prettier --write

chore: regenerate lockfile with legacy-peer-deps
  package-lock.json
Due: prettier --write

Fix peer dependency conflict: update @vitest/coverage-v8 to ^4.1.0
  package.json
Due: prettier --write

Fix eslint workflow: use flat config, add formatter to dependencies
  .github/workflows/eslint.yml
  package-lock.json
  package.json
Due: prettier --write

Restore @testing-library/dom required by @testing-library/react peer dependency
  package.json
Due: prettier --write

fix: patch 9 security vulnerabilities and update all dependencies
  package-lock.json
  package.json
Due: prettier --write

Update package.json
  package.json
Due: prettier --write

Update eslint.config.js
  eslint.config.js
Due: eslint --max-warnings 0 --fix, prettier --write

Update src/components/CookieConsent.tsx
  src/components/CookieConsent.tsx
Due: eslint --max-warnings 0 --fix, prettier --write

fix: update ESLint config and error logging
  src/components/CookieConsent.tsx
  src/components/UploadDemo.tsx
Due: eslint --max-warnings 0 --fix, prettier --write

Initialize theme synchronously to prevent dark-to-light flash
  src/lib/ThemeContext.tsx
Due: eslint --max-warnings 0 --fix, prettier --write

Log warning on localStorage failure instead of empty catch
  src/lib/ThemeContext.tsx
Due: eslint --max-warnings 0 --fix, prettier --write

Use named export for App component per AGENTS.md convention
  src/App.tsx
Due: eslint --max-warnings 0 --fix, prettier --write

Update ROADMAP.md
  .planning/ROADMAP.md
Due: prettier --write

Add image to README for visual enhancement
  README.md
Due: prettier --write

Add Super-Linter to CI workflow
  .github/workflows/ci.yml
Due: none

docs: add KNOWLEDGE.md with codebase patterns and conventions
  KNOWLEDGE.md
Due: prettier --write

chore: remove debug-storybook.log and add *.log to .gitignore
  .gitignore
  debug-storybook.log
Due: none

Update KNOWLEDGE.md
  KNOWLEDGE.md
Due: prettier --write

docs: fix KNOWLEDGE.md entries to match actual code
  KNOWLEDGE.md
Due: prettier --write

chore: add @tailwindcss/vite plugin and update dependencies
  package-lock.json
  package.json
  vite.config.ts
Due: eslint --max-warnings 0 --fix, prettier --write

Fix upload demo dropped file validation
  src/components/UploadDemo.test.tsx
  src/components/UploadDemo.tsx
Due: eslint --max-warnings 0 --fix, prettier --write

docs: add comprehensive JSDoc to all missing files
  src/data/content.ts
  src/main.tsx
  src/test/setup.ts
  src/vite-env.d.ts
Due: eslint --max-warnings 0 --fix, prettier --write

fix: add aria-label to Newsletter input and nav links for FAQ/Testimonials
  src/components/Newsletter.tsx
  src/components/ui/Input.tsx
  src/data/content.ts
Due: eslint --max-warnings 0 --fix, prettier --write

fix: migrate src/index.css to Tailwind v4 @import syntax
  src/index.css
Due: none

test: add aria-label unit tests for Input component
  TEST_REPORT.md
  e2e-report.txt
  src/components/Newsletter.tsx
  src/components/ui/Input.test.tsx
  src/data/content.ts
Due: eslint --max-warnings 0 --fix, prettier --write

Potential fix for pull request finding
  src/index.css
Due: none

Path conditions:
  eslint --max-warnings 0 --fix: any of: *.{ts,tsx,js,jsx}
  prettier --write: ((any of: *.{ts,tsx,js,jsx}) or (any of: *.json)) or (any of: *.md)
