Repository shazzar00ni/docugen: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0 --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx}": [
    "eslint --max-warnings 0 --fix",
    "prettier --write"
  ],
  "*.json": [
    "prettier --write"
  ],
  "*.md": [
    "prettier --write"
  ]
}

Add Snyk Security analysis workflow
  .github/workflows/snyk-security.yml
Due: none

Fix GitHub Action location - move from workflows to actions directory
  .github/actions/coderabbit/action.yml
Due: none

fix(a11y): Address PR review feedback
  src/components/FAQ.tsx
  src/components/Preview.tsx
  src/components/ScrollToTop.tsx
  src/components/SkipToContent.test.tsx
  src/components/SkipToContent.tsx
  src/components/ui/Button.tsx
  src/components/ui/Input.tsx
  src/data/content.ts
Due: eslint --max-warnings 0 --fix, prettier --write

Update src/components/SkipToContent.tsx
  src/components/SkipToContent.tsx
Due: eslint --max-warnings 0 --fix, prettier --write

Update src/components/upload/UploadArea.tsx
  src/components/upload/UploadArea.tsx
Due: eslint --max-warnings 0 --fix, prettier --write

fix: parser and accessibility improvements
  src/components/upload/UploadArea.test.tsx
  src/components/upload/UploadArea.tsx
  src/lib/markdown.ts
Due: eslint --max-warnings 0 --fix, prettier --write

security: update dompurify and add XSS documentation
  package-lock.json
  package.json
  src/components/markdown/MarkdownViewer.tsx
Due: eslint --max-warnings 0 --fix, prettier --write

Update src/components/upload/UploadArea.test.tsx
  src/components/upload/UploadArea.test.tsx
Due: eslint --max-warnings 0 --fix, prettier --write

security: integrate DOMPurify in parser, add file size validation, error handling
  src/App.tsx
  src/components/upload/UploadArea.tsx
  src/lib/markdown.ts
Due: eslint --max-warnings 0 --fix, prettier --write

Update src/lib/markdown.ts
  src/lib/markdown.ts
Due: eslint --max-warnings 0 --fix, prettier --write

fix: parser and test improvements
  package-lock.json
  package.json
  src/App.tsx
  src/__tests__/markdown.test.tsx
  src/components/upload/UploadArea.test.tsx
  src/lib/markdown.ts
Due: eslint --max-warnings 0 --fix, prettier --write

Update .github/actions/coderabbit/action.yml
  .github/actions/coderabbit/action.yml
Due: none

Remove invalid action.yml from workflows directory
  .github/workflows/action.yml
Due: none

Fix action.yml: update path filter glob and node runtime
  .github/actions/coderabbit/action.yml
Due: none

Revert eslint to version 9.39.2 to resolve dependency conflict with eslint-plugin-react
  package-lock.json
Due: prettier --write

feat: integrate CookieConsent component into App
  src/App.tsx
Due: eslint --max-warnings 0 --fix, prettier --write

feat: add skip-to-content link and main content landmark for accessibility
  index.html
  src/App.tsx
Due: eslint --max-warnings 0 --fix, prettier --write

fix: revert absolute imports to relative paths
  src/App.tsx
  src/components/SkipToContent.tsx
  src/index.css
Due: eslint --max-warnings 0 --fix, prettier --write

feat: add E2E test job to CI workflow
  .github/workflows/ci.yml
Due: none

feat: set up Storybook for component documentation
  .gitignore
  .storybook/main.ts
  .storybook/preview.ts
  eslint.config.js
  package-lock.json
  package.json
  src/components/ui/Button.stories.tsx
  src/components/ui/Container.stories.tsx
  src/components/ui/Input.stories.tsx
  src/stories/Button.stories.ts
  src/stories/Button.tsx
  src/stories/Configure.mdx
  src/stories/Header.stories.ts
  src/stories/Header.tsx
  src/stories/Page.stories.ts
  src/stories/Page.tsx
  src/stories/assets/accessibility.png
  src/stories/assets/accessibility.svg
  src/stories/assets/addon-library.png
  src/stories/assets/assets.png
  src/stories/assets/avif-test-image.avif
  src/stories/assets/context.png
  src/stories/assets/discord.svg
  src/stories/assets/docs.png
  src/stories/assets/figma-plugin.png
  src/stories/assets/github.svg
  src/stories/assets/share.png
  src/stories/assets/styling.png
  src/stories/assets/testing.png
  src/stories/assets/theming.png
  src/stories/assets/tutorials.svg
  src/stories/assets/youtube.svg
  src/stories/button.css
  src/stories/header.css
  src/stories/page.css
  vite.config.ts
  vitest.shims.d.ts
Due: eslint --max-warnings 0 --fix, prettier --write

feat: add animated gradient background to Hero section
  src/components/Hero.tsx
  src/index.css
Due: eslint --max-warnings 0 --fix, prettier --write

feat: add social share buttons to footer
  src/components/Footer.tsx
Due: eslint --max-warnings 0 --fix, prettier --write

Update src/components/SkipToContent.test.tsx
  src/components/SkipToContent.test.tsx
Due: eslint --max-warnings 0 --fix, prettier --write

fix: align vitest and @vitest/coverage-v8 versions
  package-lock.json
  package.json
Due: prettier --write

chore: update pre-commit hook to use lint-staged config explicitly
  .husky/pre-commit
  debug-storybook.log
Due: none

feat: wrap App with ErrorBoundary for error handling
  src/App.tsx
Due: eslint --max-warnings 0 --fix, prettier --write

feat: add canonical URL, JSON-LD schema, and optimize font loading
  index.html
Due: none

fix(docs): rename duplicate 'Plans' headings to be unique
  docs/REMAINING-TASKS.md
Due: prettier --write

Update docs/ROADMAP.md
  docs/ROADMAP.md
Due: prettier --write

Update docs/REMAINING-TASKS.md
  docs/REMAINING-TASKS.md
Due: prettier --write

Update package.json
  package.json
Due: prettier --write

fix: add light-mode styles for Button and Skeleton components
  src/components/ui/Button.tsx
  src/components/ui/Skeleton.tsx
Due: eslint --max-warnings 0 --fix, prettier --write

Fix eslint version to 9.39.2 and downgrade eslint-plugin-react-refresh to 0.4.26
  package-lock.json
  package.json
Due: prettier --write

Fix eslint workflow to use project's eslint version and config
  .github/workflows/eslint.yml
Due: none

Update src/components/ui/Button.test.tsx
  src/components/ui/Button.test.tsx
Due: eslint --max-warnings 0 --fix, prettier --write

Update .github/workflows/eslint.yml
  .github/workflows/eslint.yml
Due: none
