Repository shazzar00ni/docugen: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0 --fix, prettier --write

fix: resolve npm dependency conflicts
  package-lock.json
Due: prettier --write

Wire Analytics.tsx into App: render Analytics wrapper
  src/App.tsx
  src/AppAnalyticsBridge.tsx
  src/components/Analytics.tsx
Due: eslint --max-warnings 0 --fix, prettier --write

test(e2e): scaffold Playwright config and a basic landing page test
  e2e/landing.spec.ts
  playwright.config.ts
Due: eslint --max-warnings 0 --fix, prettier --write

docs: Add comprehensive documentation suite
  README.md
  docs/API.md
  docs/ARCHITECTURE.md
  docs/COMPONENTS.md
  docs/DEVELOPMENT.md
  docs/README.md
  docs/TESTING.md
Due: prettier --write

docs: Update AGENTS.md with current project structure
  AGENTS.md
Due: prettier --write

fix: Address PR review feedback - remove redundant Analytics wrapper and fix type safety
  docs/ARCHITECTURE.md
  docs/DEVELOPMENT.md
  src/AppAnalyticsBridge.tsx
Due: eslint --max-warnings 0 --fix, prettier --write

fix: migrate Tailwind CSS to v4 syntax
  package-lock.json
  src/index.css
  tailwind.config.js
Due: eslint --max-warnings 0 --fix, prettier --write

fix: add missing @tailwindcss/vite plugin
  vite.config.ts
Due: eslint --max-warnings 0 --fix, prettier --write

fix: add horizontal padding to FAQ container
  src/components/FAQ.tsx
Due: eslint --max-warnings 0 --fix, prettier --write

fix: add missing e2e npm script
  package.json
Due: prettier --write

fix: resolve CodeRabbit review comments - add duplicate injection guard, E2E docs, fix mermaid
  docs/ARCHITECTURE.md
  docs/TESTING.md
  src/components/Analytics.tsx
Due: eslint --max-warnings 0 --fix, prettier --write

feat: add automatic PR labeling
  .github/labeler.yml
  .github/workflows/labeler.yml
  .github/workflows/pr-title-labeler.yml
Due: none

fix: Address all PR review feedback issues
  AGENTS.md
  README.md
  docs/API.md
  docs/ARCHITECTURE.md
  docs/COMPONENTS.md
  docs/DEVELOPMENT.md
  docs/README.md
  docs/TESTING.md
  e2e/landing.spec.ts
  playwright.config.ts
Due: eslint --max-warnings 0 --fix, prettier --write

Update src/components/Analytics.tsx
  src/components/Analytics.tsx
Due: eslint --max-warnings 0 --fix, prettier --write

Update docs/TESTING.md
  docs/TESTING.md
Due: prettier --write

Update playwright.config.ts
  playwright.config.ts
Due: eslint --max-warnings 0 --fix, prettier --write

fix: Address PR review feedback - remaining issues
  AGENTS.md
  docs/API.md
  docs/ARCHITECTURE.md
  docs/TESTING.md
  src/components/Analytics.tsx
Due: eslint --max-warnings 0 --fix, prettier --write

docs: add docstrings to test utilities for 80% coverage
  src/lib/ThemeContext.test.tsx
Due: eslint --max-warnings 0 --fix, prettier --write

feat(accessibility): Add skip-to-content link and improve a11y
  ISSUES.md
  docs/ACCESSIBILITY.md
  src/App.tsx
  src/components/Preview.tsx
  src/components/SkipToContent.test.tsx
  src/components/SkipToContent.tsx
Due: eslint --max-warnings 0 --fix, prettier --write

fix: resolve CSS lint issues
  1n
  src/index.css
Due: none

fix: replace dark-* with light-* palette in components
  1n
  index.html
  src/components/ui/Button.test.tsx
  src/components/ui/Button.tsx
  src/components/ui/Skeleton.test.tsx
  src/components/ui/Skeleton.tsx
  src/index.css
Due: eslint --max-warnings 0 --fix, prettier --write

docs: create docs/ directory with ROADMAP.md and REMAINING-TASKS.md
  docs/REMAINING-TASKS.md
  docs/ROADMAP.md
Due: prettier --write

Update src/__tests__/customization.test.tsx
  src/__tests__/customization.test.tsx
Due: eslint --max-warnings 0 --fix, prettier --write

Update src/__tests__/domain.test.tsx
  src/__tests__/domain.test.tsx
Due: eslint --max-warnings 0 --fix, prettier --write

Update src/lib/markdown.ts
  src/lib/markdown.ts
Due: eslint --max-warnings 0 --fix, prettier --write

Update src/lib/export.ts
  src/lib/export.ts
Due: eslint --max-warnings 0 --fix, prettier --write

docs: ensure comprehensive docstring coverage
  src/AppAnalyticsBridge.tsx
Due: eslint --max-warnings 0 --fix, prettier --write

fix: add dark: variants for proper light/dark mode support
  index.html
  src/components/ui/Button.test.tsx
  src/components/ui/Button.tsx
  src/components/ui/Skeleton.test.tsx
  src/components/ui/Skeleton.tsx
Due: eslint --max-warnings 0 --fix, prettier --write

feat: integrate CookieConsent component into App.tsx
  ISSUES.md
  src/App.tsx
Due: eslint --max-warnings 0 --fix, prettier --write

Potential fix for code scanning alert no. 1: Workflow does not contain permissions
  .github/workflows/ci.yml
Due: none

Potential fix for code scanning alert no. 2: Workflow does not contain permissions
  .github/workflows/ci.yml
Due: none

Potential fix for code scanning alert no. 3: Workflow does not contain permissions
  .github/workflows/ci.yml
Due: none

Potential fix for code scanning alert no. 4: Workflow does not contain permissions
  .github/workflows/ci.yml
Due: none

Update src/App.tsx
  src/App.tsx
Due: eslint --max-warnings 0 --fix, prettier --write

fix: prevent FOUC and optimize theme context performance
  src/lib/ThemeContext.tsx
Due: eslint --max-warnings 0 --fix, prettier --write

Create codacy.yml
  .github/workflows/codacy.yml
Due: none

Add ESLint workflow for code analysis
  .github/workflows/eslint.yml
Due: none

Add Semgrep workflow for code scanning
  .github/workflows/semgrep.yml
Due: none

Path conditions:
  eslint --max-warnings 0 --fix: any of: *.{ts,tsx,js,jsx}
  prettier --write: ((any of: *.{ts,tsx,js,jsx}) or (any of: *.json)) or (any of: *.md)
