Repository shazzar00ni/docugen: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0 --fix, prettier --write

Add CookieConsent banner for GDPR compliance
  src/components/CookieConsent.test.tsx
  src/components/CookieConsent.tsx
Due: eslint --max-warnings 0 --fix, prettier --write

Add Dependabot configuration for automated dependency updates
  .github/dependabot.yml
Due: none

Add Security Policy for vulnerability reporting
  SECURITY.md
Due: prettier --write

Add ShareButtons component for social sharing
  src/components/ShareButtons.test.tsx
  src/components/ShareButtons.tsx
Due: eslint --max-warnings 0 --fix, prettier --write

Update ISSUES.md with completed items
  ISSUES.md
Due: prettier --write

Format .lintstagedrc with Prettier
  .lintstagedrc
Due: none

Add dark/light mode toggle with ThemeContext
  src/App.tsx
  src/components/Navbar.tsx
  src/index.css
  src/lib/ThemeContext.tsx
  src/lib/useTheme.ts
  tailwind.config.js
Due: eslint --max-warnings 0 --fix, prettier --write

Add tests for ThemeContext
  src/lib/ThemeContext.test.tsx
Due: eslint --max-warnings 0 --fix, prettier --write

Fix ThemeContext tests with proper localStorage mock
  src/lib/ThemeContext.test.tsx
  src/test/setup.ts
Due: eslint --max-warnings 0 --fix, prettier --write

Update ISSUES.md to mark issue #1 as complete
  ISSUES.md
Due: prettier --write

Add Playwright E2E test configuration
  e2e/landing.spec.ts
  package-lock.json
  package.json
  playwright.config.ts
Due: eslint --max-warnings 0 --fix, prettier --write

Update ISSUES.md to mark issue #19 as complete
  ISSUES.md
Due: prettier --write

Add initial roadmap for DocuGen
  .planning/ROADMAP.md
Due: prettier --write

Fix CookieConsent tests with localStorage mock
  src/components/CookieConsent.test.tsx
Due: eslint --max-warnings 0 --fix, prettier --write

Add animated gradient background to Hero section
  src/components/AnimatedGradientBackground.tsx
  src/components/Hero.tsx
  src/index.css
Due: eslint --max-warnings 0 --fix, prettier --write

Update ISSUES.md to mark issue #24 as complete
  ISSUES.md
Due: prettier --write

Security headers: add vercel.json and Netlify _headers (guardrails)
  _headers
  vercel.json
Due: prettier --write

Plan 01-01: File Upload Component
  .planning/01-01-PLAN.md
Due: prettier --write

Plan 01-02: MDX/Markdown Parser Integration
  .planning/01-02-PLAN.md
Due: prettier --write

Plan 01-03: File Tree Navigation
  .planning/01-03-PLAN.md
Due: prettier --write

Plan 01-04: Phase 1 Scaffolding
  .planning/01-04-PLAN.md
Due: prettier --write

Plan 02-01: Auto-generate navigation
  .planning/02-01-PLAN.md
Due: prettier --write

Plan 02-02: Table of Contents & Scroll Spy
  .planning/02-02-PLAN.md
Due: prettier --write

Plan 02-03: Breadcrumbs & Page Hierarchy
  .planning/02-03-PLAN.md
Due: prettier --write

Plan 03-01: Hot Reload & Preview
  .planning/03-01-PLAN.md
Due: prettier --write

Analytics: remove any by using unknown cast to access PLAUSIBLE_DOMAIN
  AGENTS.md
  src/components/Analytics.tsx
Due: eslint --max-warnings 0 --fix, prettier --write

Integrate Phase 1: wire UploadArea into App (minimal wiring)
  src/App.tsx
Due: eslint --max-warnings 0 --fix, prettier --write

feat(phase1): add UploadArea component for Phase 1
  src/components/upload/UploadArea.tsx
Due: eslint --max-warnings 0 --fix, prettier --write

docs: add wrapper note for UploadArea (placeholder)
  src/components/upload/UploadAreaWrapper.tsx
Due: eslint --max-warnings 0 --fix, prettier --write

feat(phase1): add minimal Markdown parser stub
  src/lib/markdown.ts
Due: eslint --max-warnings 0 --fix, prettier --write

Update AGENTS.md with PR workflow guidance
  AGENTS.md
Due: prettier --write

feat(phase1): real Markdown parser integration; wire UploadArea to parser and viewer
  src/App.tsx
  src/components/markdown/MarkdownViewer.tsx
  src/components/upload/UploadArea.tsx
  src/components/upload/UploadAreaWrapper.tsx
  src/lib/markdown.ts
Due: eslint --max-warnings 0 --fix, prettier --write

test: add parseMarkdown unit tests and MarkdownViewer tests; sanitize HTML in MarkdownViewer
  src/__tests__/markdown.test.tsx
  src/components/markdown/MarkdownViewer.tsx
Due: eslint --max-warnings 0 --fix, prettier --write

Wire Analytics.tsx into App: render Analytics wrapper
  src/App.tsx
  src/AppAnalyticsBridge.tsx
  src/components/Analytics.tsx
Due: eslint --max-warnings 0 --fix, prettier --write

Create action.yml
  .github/workflows/action.yml
Due: none

Update README.md
  README.md
Due: prettier --write

Update e2e/landing.spec.ts
  e2e/landing.spec.ts
Due: eslint --max-warnings 0 --fix, prettier --write

fix: remove tsc dependency from build script
  package.json
Due: prettier --write

feat(hero): add animated gradient background behind hero for visual depth
  package.json
  src/App.tsx
  src/components/Hero.tsx
  src/index.css
Due: eslint --max-warnings 0 --fix, prettier --write

fix(a11y): add skip-to-content link and main landmark for keyboard navigation
  src/App.tsx
Due: eslint --max-warnings 0 --fix, prettier --write

Path conditions:
  eslint --max-warnings 0 --fix: any of: *.{ts,tsx,js,jsx}
  prettier --write: ((any of: *.{ts,tsx,js,jsx}) or (any of: *.json)) or (any of: *.md)
