Repository shazzar00ni/docugen: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0 --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx}": [
    "eslint --max-warnings 0 --fix",
    "prettier --write"
  ],
  "*.json": [
    "prettier --write"
  ],
  "*.md": [
    "prettier --write"
  ]
}

Potential fix for pull request finding
  package.json
Due: prettier --write

Log Storybook initialization and configuration process
  debug-storybook.log
Due: none

Install Vercel Web Analytics
  package-lock.json
  package.json
  src/App.tsx
Due: eslint --max-warnings 0 --fix, prettier --write

Add SonarCloud analysis workflow
  .github/workflows/sonarcloud.yml
Due: none

Add Dependency Review workflow for PRs
  .github/workflows/dependency-review.yml
Due: none

Add Frogbot Scan and Fix workflow
  .github/workflows/frogbot-scan-and-fix.yml
Due: none

Update src/test/setup.ts
  src/test/setup.ts
Due: eslint --max-warnings 0 --fix, prettier --write

ci: fix workflow syntax and document job purposes
  .github/workflows/ci.yml
  docs/DEVELOPMENT.md
Due: prettier --write

Add CLAUDE.md with codebase guidance for AI assistants
  CLAUDE.md
Due: prettier --write

Fix three inaccuracies in CLAUDE.md flagged by Codex review
  CLAUDE.md
Due: prettier --write

ci: pin setup-node and use typecheck script
  .github/workflows/ci.yml
  docs/DEVELOPMENT.md
Due: prettier --write

docs(build): define canonical build contract across scripts and CI
  .github/workflows/ci.yml
  AGENTS.md
  README.md
  docs/DEVELOPMENT.md
  docs/README.md
  package.json
Due: prettier --write

Fix ThemeProvider placement in entry-point description
  CLAUDE.md
Due: prettier --write

Add license scan report and status
  README.md
Due: prettier --write
